<!-- using code from https://www.w3schools.com/bootstrap/bootstrap_panels.asp -->
<div class="panel panel-default">
  <div class="panel-heading">
    <h3>{{ contact.name }}</h3>
    <div class="flex-container">
      <img [src]="contact.imageUrl" [alt]="contact.name" style="max-height: 90px" />
      <div class="flex-container right">
        <a [routerLink]="['/contacts', contact.id, 'edit']" class="btn btn-primary">Edit</a>
        <a (click)="onDelete()" class="btn btn-danger">Delete</a>
      </div>
    </div>
  </div>
  <div class="panel-body">
    <div><strong>Email: </strong>{{ contact.email }}</div>
    <div><strong>Phone: </strong>{{ contact.phone }}</div>
    <div *ngIf="contact.group?.length > 0">
      <strong>Contacts in Team:</strong>
      <div class="col-sm-12">
        <cms-contact-item
          *ngFor="let groupContact of contact.group"
          [contact]="groupContact"
        ></cms-contact-item>
      </div>
    </div>
  </div>
</div>
