<!-- using code from: 
    - https://www.w3schools.com/bootstrap/bootstrap_panels.asp 
    - Angular tutorial
-->
<div class="panel panel-default">
  <div class="panel-heading default-flex">
    <h2 class="contacts-title">Contacts</h2>
    <button class="btn btn-success margin-auto-left" [routerLink]="['new']">
      New Contact
    </button>
  </div>
  <div class="panel-body" cdkDropList [cdkDropListData]="contacts">
    <cms-contact-item
      *ngFor="let contact of contacts"
      [contact]="contact"
      cdkDrag
    />
  </div>
</div>
