/* You can add global styles to this file, and also import other style files */
.default-flex {
  display: flex;
  align-items: center;
}
.margin-auto-left {
  margin-left: auto;
  height: fit-content;
}
.gap-small {
  gap: 5px;
}
/* below two sections copied from message-list.component.css */
.title {
  font-size: 2.5rem;
  font-weight: bold;
  padding-left: 15px;
}
.pad-left-right {
  padding-left: 1rem;
  padding-right: 1rem;
}
